.gridster ul, .gridster ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gridster .gs_w {
    background: #999;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    color: #DDD;
    padding: 4px;
}

.gridster {
    width: 940px;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster li p {
	text-align: center;
}

.gridster li p.statistic {
	color: #FFF;
	font-size: 110%;
}

li strong {
	color: orange;
}

svg circle {
	fill: orange;
	stroke: black;
	stroke-width: 3;
	opacity: 0.5;
}
